@import "../../../../../assets/style/colors.css";

.buttonContainer {
    border-radius: 0 !important;
    font-family: Roboto !important;
    display: flex !important;
    align-items: center !important;
    min-height: 5px !important;
    font-style: normal !important;
    -webkit-box-align: center;
    padding: 2px;
    font-size: 14px;
    border-radius: 4px !important;
}

.buttonContainer span {
    margin: 0 !important;
    font-size: 14px !important;
}

.buttonContainerEnabled span{
    color: rgb(33, 41, 52) !important;
}

.buttonContainer svg {
    margin-left: 0 !important;
    color: var(--grey-grey-600, #6E7A8A) !important;
}

.itemLink {
    text-decoration: none !important;
    background-color: red !important;
}