@import "../../../../../assets/style/colors.css";

.buttonContainer {
    display: flex !important;
    align-items: center !important;
    min-height: 5px !important;
    font-style: normal !important;
    -webkit-box-align: center;
    padding: 2px;
    font-size: 14px;
}

.buttonContainer span {
    margin: 0 !important;
    font-size: 14px !important;
}

.buttonContainerEnabled span {
    color: rgb(33, 41, 52) !important;
}

.buttonContainer svg:nth-child(1) {
    width: 20px;
    margin-right: 5px !important;
}

.buttonContainer > svg {
    height: 35px;
    width: 20px;
    padding-left: 8px !important;
    border-left: 1px solid rgb(160, 173, 186) !important;
}

.buttonContainerDisabled > svg {
    border-left: 1px solid rgb(213, 221, 229) !important;
}

.itemLink {
    text-decoration: none !important;
}