.modalContainer{
    min-width: 800px !important;
}

.subTitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: rgba(33, 41, 52, 0.9);
}

.formSection{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.remove {
    display: none !important;
}

.loadingContainer {
    height: 65vh;
}

.linearProgress {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 95% 5%;
}

.percentagem {
    margin-left: 10px;
    margin-top: -11px;
}

.loadingContainer h1 {
    font-size: 20px;
}

.studentSeek {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    margin-left: 60px;
    /* margin-top: -70px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading span {
    font-weight: 500;
    letter-spacing: 2px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0.8s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 1.2s ease-in, visibility 1.2s ease-in;
}
