.final-result__status {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: capitalize;
}

.passed {
    color: #277314;
}

.COMPLETED {
    color: #277314;
}

.failed,
.dropout {
    color: #D64D4D;
}